@mixin gridArea ($name, $j: center, $a: center, $s: 'true'){
    @if ($s == "false") {
        width: 98%;
        height: 98%;
    }
    // background-color: rgba(240, 240, 240, 0.2);
    grid-area: $name;
    justify-self: $j;
    align-self: $a;
};

@mixin grid-std {
    width: 100%;
    height: 100%;
    display: grid;
};

@mixin mp-0{
    margin: 0;
    padding: 0;
};

@mixin media($orientation){
    @media screen and (orientation: #{$orientation}) {
        @content
    }
};

@mixin mediaSize($size){
    @media only screen and (min-width: #{$size}) {
        @content
    }
};

@mixin mediaSizeH($size){
    @media only screen and (min-height: #{$size}) {
        @content
    }
}