// #region [1] <<<<( VARS )>>>>

$lily: #FF5A3C;
$carbon: #333;
$white: #eee;
$black: #2f2f2f;
$gray: #ccc;

$portrait: portrait;
$landscape: landscape;
$desktop: 1851px;
$laptop: 1221px;
$tablet: 681px;
$smartphone: 320px;

// #endregion ==========

@import '_mixings';
@import '_heritance';

// #region [3] <<<<( GENERAL )>>>>
body{
    @include mp-0;
    font-family:'Titillium Web', 'Roboto', sans-serif;
    color: $carbon;
}

.main{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background: rgb(204,204,204);
    background: radial-gradient(circle, rgba(204,204,204,1) 0%, rgba(172,171,171,1) 51%, rgba(158,158,161,1) 100%);
    position: absolute;
}

nav{
    width: 100%;
    height: 10%;
    background-color: $carbon;
    opacity: 0.7;
    position: fixed;
    top: 0;
    z-index: 999;
    clip-path: polygon(100% 0, 100% 100%, 69% 100%, 62% 76%, 0 76%, 0 0);
    @include media(portrait){
        clip-path: polygon(100% 0, 100% 100%, 53% 100%, 44% 76%, 0 76%, 0 0);
    };
}

.gridMain{
    @include grid-std;
    grid-template-columns: 55% 45%;
    grid-template-rows: 10% 40% 30% 10% 10%;
    grid-template-areas:
        "bar bar"
        "logo img"
        "txt img"
        "btn btn"
        "ico ico";
    @include media($landscape){
        grid-template-columns: 65% 35%;
        grid-template-areas:
        "bar bar"
        "logo img"
        "txt img"
        "btn img"
        "ico ico";
    }
    &__logo{
        @include gridArea(logo, center, center, "false");
        object{
            margin: auto;
            display: block;
            height: 100%;
            @include media(portrait){
                max-width: 100%;
            }
        }
    }
    &__img{
        @include gridArea(img, end, center, "false");
        img{
            display: block;
            max-width: 100%;
            max-height: 100%;;
            margin: auto 20px auto auto;
            position: relative;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);

            @include media(portrait){
                max-width: 90%;
                height: auto;
                max-height: 90%;
                position: relative;
                right: 0;
                margin: 0;
            };
            
        }
    }
    &__txt{
        @include gridArea(txt);
        text-align: center;
        @include mediaSize($tablet){
            width:80%;
        };
        @include mediaSize($laptop){
            width: 70%;
        };
        h2{
            margin:0;
            padding: 0;
            display: block;
            margin: auto;
            font-weight: 600;
            width: 140px;
            border-right: 12px solid $lily;
            border-left: 12px solid $lily;
            overflow: hidden;
            @include mediaSize($tablet){
                font-size: 1.6rem;
                width: 180px;
            };
            @include mediaSize($laptop){
                font-size: 2.2rem;
            };
        }
        p{
            margin: 0;
            margin-top: 10px;
            padding: 0 10px;
            font-size: 1rem;
            line-height: 1.4;
            @include mediaSize($smartphone){
                padding: 0 15px;
            };    
            @include mediaSize($tablet){
                font-size: 1.1rem;
            };
            @include mediaSize($laptop){
                font-size: 1.6rem;
            };
            // @include mediaSize($desktop){
            //     font-size: 2rem;
            // };
        }
    }
    &__btn{
        @include gridArea(btn, center, center);
    }
    &__ico{
        @include gridArea(ico, stretch, stretch);
        padding-bottom: 10px;
        overflow: hidden;
        object{
            margin: auto;
            display: block;
            height: 90%;
            position: relative;
            top: 0;
            z-index: 999;
            @include media(portrait){
                max-width: 100%;
            }
        }
        @include media(landscape){
            padding-bottom: 0;
        }
    }
}

.gridControl{
    background-color: $carbon;
    @include grid-std;
    grid-template-columns: 65% 35%;
    grid-template-rows: 10% 10% 70% 10%;
    grid-template-areas: ". ." 
                        "tittle tittle" 
                        "ctrl img"
                        ". .";
    @include media($portrait){
        grid-template-columns: 55% 45%;
    };
    &__tittle{
        @include gridArea(tittle, center, center);
        text-align: center;
        color: $white;
        h1{
            margin: 0;
            font-size: 2.4rem;
            font-weight: 600;
            @include mediaSize($tablet){
                font-size: 3rem;
            }
            @include mediaSize($laptop){
                font-size: 3.2rem;
            }
            @include mediaSize($desktop){
                font-size: 3.4rem;
            }
        }
    }

    &__ctrl{
        @include gridArea(ctrl, center, center, "false");
        object{
            margin: auto;
            display: block;
            height: 100%;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            @include media(portrait){
                max-width: 100%;
            };
            @include media($landscape){
                max-height: 80%;
            };
        }
    }
    &__img{
        @include gridArea(img, center, center, "false");
        img{
            display: block;
            max-width: 100%;
            max-height: 100%;;
            margin: auto;
            position: relative;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);

            @include media(portrait){
                max-width: 90%;
                height: auto;
                max-height: 90%;
                position: relative;
                right: 0;
                margin: 0;
            };
            
        }
    }

}

.gridSociales{
    @include grid-std;
    grid-template-columns: 100%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: "." "redes" ".";
    background-color: $lily;
    &__redes{
        @include gridArea(redes, center, center, "false");
        
        .wrapper{
            @include grid-std;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            justify-items: center;
            align-items: center;
            @include media($landscape){
                grid-template-columns: 25% 25% 25% 25%;
                grid-template-rows: 100%;
            };
        }
        .item{
            text-align: center;
            color: $white;
            h3{
                font-weight: 100;
                font-size: 0;
                margin: 0;
                opacity:0;
                transition: opacity 0.5s ease-in, 
                            font-size 0.6s cubic-bezier(.89,.01,.41,1.58);
            }
        }
        object{
            display: block;
            box-sizing: border-box;
            width: 70%;
            max-height: 70%;
            margin: auto;
            @include mediaSize($tablet){
                max-width: 200px;
                max-height: 200px;
            };
            @include mediaSize($laptop){
                max-width: 250px;
                max-height: 250px;
            };
            @include mediaSize($desktop){
                max-width: 300px;
                max-height: 300px;
            };
        }

        object:hover + h3{
            opacity: 1;
            font-size: 1.5rem;
            @include mediaSize($tablet){
              font-size: 2rem;      
            };
        }
    }
}

@import '_utilities';
@import '_animations';
// #endregion ==========

// #region [6] <<<<( HELPERS )>>>>
.ret{
    border: 1px solid darkmagenta;
    // background-color: rgba(0, 255, 127, 10%);
}

.ret *{
    border: 1px solid blue;
}

.ret div{
    border: 1px solid #adff2f;
    // background-color: rgba(255, 0, 0, 25%);
}
// #endregion ===========